// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  margin: 0 auto;
  width: 100%;
}

.search-form-wrap {
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;
}

.search-about {
  text-align: center;
}

.site-about {
  margin-bottom: 40px;
}

/*フォーム全体*/
#search-form{
  display: flex;
  justify-content: center;
}
/*検索ボックス*/
.sbox{
  width: 500px;
  height: 40px;
  border: 1px solid #7f7f7f;
  border-radius: 2px;
}
/*検索ボタン*/
.sbtn{
  background: #7f7f7f;
  width: 60px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 2px;
}
/*検索ボタンマウスオーバー時*/
.sbtn:hover{
  background: #faab00;
}

.categories {
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;

}

.category {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  position: relative;
  font-weight: bold;
}

.category:last-child {
  margin-right: 0px;
}

.category-pic {
  width: 100%;
  position: absolute;
  bottom: 20%;
}

.category p {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.title-text {
  text-align: center;
  margin: 20px 0;
}
