<div>
<% if site.comments.present? %>
  <p class="public-site-comment-title">コメント件数：<%= site.comments.count %></p>
  <% site.comments.each do |comment| %>
    <div class="public-site-comments">
      <p class="public-site-comment"><%= comment.comment %></p>
      <p class="public-site-comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></p>
      <% if comment.user == current_user %>
      <div class="comment-delete">
        <%= link_to "削除", site_comment_path(comment.site, comment), method: :delete, remote: true, data: {confirm: "本当に削除しますか？"} %>
      </div>
      <% end %>
    </div>
  <% end %>
  <% else %>
  <p>コメントはまだありません</p>
<% end %>
</div>