<div class="container">
  <div class="about">
    <h1>About</h1>
    <p>「materialler」は、素材サイトを探すためのサーチサイトです。</p>
    <p>いろいろなジャンルの素材サイトを一括で検索できるサイトがあれば便利だと思い、このサイトを作成しました。</p>
    <p>注意点：素材サイトで素材ダウンロードする前に、ライセンスや利用規約を確認しましょう。</p>
  </div>
  
  <div class="ranking">
    
  </div>
</div>