<div class="container">
  <div class="about">
    <h1>About</h1>
    <p>このサイトについての説明このサイトについての説明このサイトについての説明</p>
    <p>このサイトについての説明このサイトについての説明このサイトについての説明</p>
  </div>
  
  <div class="ranking">
    
  </div>
</div>