<div>
  <h1>検索結果</h1>
  <div>
    <% @sites.each do |site| %>
      <div>
        <%= image_tag "http://capture.heartrails.com/170x100/shorten?" + site.url %>
        <%= link_to site.url do %>
          <%= site.title %>
        <% end %>
        <%= site.introduce %>
      </div>
    <% end %>
  </div>
</div>