<div class="public-tag-show">

  <div class="public-tag-title">
    <h2><%= @tag.name %></h2>
    <p><%= @site.count %>件</p>
  </div>

  <%= render "public/sites/list", sites: @site, thumbnail: @thumbnail %>

  <%= will_paginate @site, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>

</div>