/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'font-awesome-sprockets';
 @import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #2b546a;
}

body {
  font-family: 游ゴシック体;
}

.all-wrap {
}

.header {
  width: 100%;
  height: 100px;
  background-color: lightblue;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

.header-logo {
  font-size: 30px;
}

.mypage {
  display: inline-blogk;
  float: right;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-wrap {
  width: 960px;
}

.menu-lists {
  display: flex;
}

.menu-list {
  margin: 10px;
}

.menu-list:last-child {
  margin-left: 80px;
}

.search-form {

}

.site-list {
  display: inline-block;
}

.mypage {

}

.footer {
  width: 100%;
  background-color: lightblue;
  padding: 10px;
}

.footer-wrap {
  display: flex;
  justify-content: center
}

.footer ul {
  display: flex;
  list-style: none;
}

.footer ul li {
  margin: 20px;
}

.bookmark-count {
  font-size: 20px;
  font-weight: bold;
}

.bookmark-heart {
  font-size: 1.2em;
}