<div>
  <h1>サイト詳細</h1>
  <%= @site.title %>
  <%= @site.url %>
  <% @site.tags.each do |tag| %>
    <span style="padding:4px;background-color:lightgray;border-radius: 4px;"><%= tag.name %></span>
  <% end %>
  <%= @site.introduce %>
</div>
